@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Space+Grotesk:wght@400;700&family=Space+Mono:wght@400;700&display=swap');
:root{
     --ff-body: 'Karla', regular;
     --ff-space: 'Space Grotesk';
     --color-green: #b9d252;
     --color-blue: #0d2f72;
}

* {
     margin: 0;
     font-weight: 800;
     font-family: var(--ff-body);
     box-sizing: border-box;
}
 *:focus {
     outline: none;
}
 *.hide {
     display: none !important;
}
body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     background-color:var(--color-green);
     color: var(--color-blue);
     font-family: var(--ff-body);
     overflow: auto;
     flex-direction: column;
     /*text-align: center;
     max-width: var(--max-width)*/
}
div {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
}

header{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     padding: 2%;

}
.hero1 {
     width: 85%;
     height: 85%;
}

.hero2 {
     width: 85%;
     height: 85%;
}

.heroVid {
     width: 375px;
     height: 300px;
     border-radius: 3%;
}


 h1 {
     align-items: center;
     font-size: 64px;
     font-family: var(--ff-space);
     overflow: hidden;
}
 p {
     font-weight: normal;
     font-size: 18px;
     font-family: var(--ff-space);
     text-align: center;
}
 #promovid {
     color: black;
     font-size: 50px;
     margin-bottom: 30px;
     margin-top: 20px;
}
 .top-box {
     display: flex;
     flex-direction: row;
}
 .top-box .left {
     flex: 1;
     padding: 10px;
}
 .top-box .right {
     flex: 1;
     padding: 10px;
}
 .bottom-box {
     display: flex;
     flex-direction: row-reverse;
}
 .bottom-box .left {
     flex: 1;
     padding: 10px;
}
 .bottom-box .right {
     flex: 1;
     padding: 10px;
}
/************************ Organizers Cards ***************************/
.container {
     margin: auto;
     display: flex; 
     flex-direction: row;
}
.card{
     width: 28%;
     height: 28%;
}
img {
     width: 300px;
     height: 300px
}

 
#demo {
     font-size: 50px;
     font-family: var(--ff-space);
     margin-bottom: 30px;
     margin-top: 20px;
}
/************************ Organizers Cards ***************************/
footer{
     text-align: center;
     padding-top: 1%;
}
